.tech-stack p{
    margin: 3rem 0 1rem 0;
}

.tech-stack ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 0;
}

.tech-stack ul li {
    list-style: none;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    color: var(--primary-text);
    align-items: center;
    text-transform: uppercase;
    font-family: "Outfit", sans-serif;
}

.tech-stack ul li img{
    height: 5rem;
    filter: drop-shadow(0 0 0.1rem #efefef);
}