.button {
    border-radius: 0.8rem;
    border: 1px solid transparent;
    padding: 0.6rem 1rem;
    font-size: 1.4rem;
    font-weight: 500;
    background-color: var(--primary);
    cursor: pointer;
    width: fit-content;
    color: var(--background);
}

  
  