.button {
    border-radius: 0.8rem;
    border: 1px solid transparent;
    padding: 0.6rem 1rem;
    font-size: 1.4rem;
    background-color: var(--icons);
    cursor: pointer;
    width: fit-content;
}

  
  