.active-link {
    border-radius: 0.8rem;
    border: 1px solid var(--icons);
    padding: 0.6rem 1rem;
    font-size: 1.4rem;
    background-color: var(--background);
    color: var(--primary-text);
    cursor: pointer;
    width: fit-content;
}