.home{
    margin: 0 auto;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center; 
    align-items: center;
    background-image: url("/public/images/output-onlinepngtools.png");
    background-size: cover;
}

.slogan{
    color: var(--accent);
    font-size: 4rem;

}

.name{
    color: var(--primary-text);
    font-size: 2rem;
}

.presentation{
    font-size: 1.6rem;
    width: 80vw;
}

.cta{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}