.header {
    display: flex;
    justify-content: center;
    padding: 1.5rem 0;
    background-color: var(--primary);
    width: 100vw;
}

.navbar-list{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 2rem;
}

.navbar-list li a{
    font-size: 1.4rem;
}

.navbar-list li a:active{
    font-family: 'GabaritoExtraBold';
}
