.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;
    box-shadow:
	0px 2px 2px 0px rgba(0,0,0,0.1), 
	0px 3px 1px -2px rgba(0,0,0,0.1), 
	0px 1px 5px 0px rgba(0,0,0,0.1);
    position: sticky;
    position: -webkit-sticky;
    top: 0; 
    background-color: var(--header-background);
}

.top-header a {
    font-family: 'Covered By Your Grace', cursive;
    font-size: 3rem;
    font-weight: 400;
    color: var(--primary);
}

.header-buttons{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.navbar-list{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.navbar-list li a{
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--primary-text);
}
