.footer{
    background-color: var(--primary);
    padding: 1rem 0;
    font-weight: 500;
    border-radius: 2rem 2rem 0 0;
    font-family: 'Outfit', sans-serif;
}
.dev{
    margin-bottom: 1rem;
    text-transform: uppercase;
}
.footer p {
    font-size: 1.2rem;
    color: var(--background);
    text-align: center;
}

.credits p a{
    color: var(--background);
    font-weight: 700;
}


